numpy==1.18.5
opencv-python==4.4.0.42
tqdm==4.58.0
pandas==0.24.2
torch==1.4.0
torchsummary==1.5.1
torchvision==0.5.0
pillow==7.2.0
matplotlib==3.0.3
tensorboard==1.14.0
albumentations==0.4.6
efficientnet-pytorch==0.7.0
